
@using AIStoryteller.Components.Elements.Book_Upload
@using AIStoryteller_Repository.Payload.Request
@using AIStoryteller_Repository.Services
@using Microsoft.AspNetCore.Http.Connections
@using Microsoft.AspNetCore.SignalR.Client
@using AIStoryteller.Components.Elements
@inject IStorytellerService StorytellerService
@inject NavigationManager Navigation
@page "/book/upload"

@rendermode InteractiveServer

<head href="~/">

</head>

<PageTitle>New Book</PageTitle>

<div class="content mb-5 px-4">
    <div class="mb-5">
        <h2>Upload a New Book</h2>
        <p role="status">Insert your book here to begin</p>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <UploadPDFForm @ref="@_uploadPdfFormRef"></UploadPDFForm>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="container">
                        <div class="row">
                            <NewBookDetails @ref="@_newBookDetailsRef"></NewBookDetails>
                        </div>
                        <div class="row mt-2">
                            <div class="container mt-3">
                                <button @onclick="UploadBook" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        


    </div>
    <div class="container" hidden="@IsConversionProcessUIHidden">
        
            <div class="row" >
                
            </div>
            <div class="row">
                <h2>Conversion To Audiobook</h2>                
                <p>Hang on tight while we are audio-fying your book!</p>
                <div class="mb-1">
                    <div class="content">
                        <h5>Step 1: Extracting text from your book</h5>
                        <ProgressBar ProgressBarValue="@_uploadProgressBarValue"></ProgressBar>
                    </div>
                </div>
                <div class="mb-1">
                    <div class="content">
                        <h5>Step 2: Converting pages to audio clips for playback</h5>
                        <ProgressBar ProgressBarValue="@_convertProgressBarValue"></ProgressBar>
                    </div>
                </div>

                
            </div>        
    </div>
</div>
@code {
    private NewBookDetails _newBookDetailsRef;
    private UploadPDFForm _uploadPdfFormRef;
    private NewBookRequest _newBookRequest;
    private string _uploadProgressBarValue = "";
    private string _convertProgressBarValue = "";
    private bool IsConversionProcessUIHidden = true;
    private HubConnection _hubConnection;
    private byte[] _bookTextData;
    private async Task UploadBook()
    {
        _newBookRequest = await _newBookDetailsRef.GetBookDetails();
        _bookTextData = await _uploadPdfFormRef.GetAddedBook();
        if (_newBookRequest == null || _bookTextData == null)
        {
            return;
        }
        await BindBookTextDataToNewBookRequest();
        await EnableProgressBars();
        await HandleAudiobookConversionProcess();

    }
    private async Task HandleAudiobookConversionProcess()
    {
        var response = await StorytellerService.SaveBookToDatabase(_newBookRequest);
        await StorytellerService.ConvertBookToAudioBook(response.Id);
    }
    private Task EnableProgressBars()
    {
        return InvokeAsync(() =>
        {
            IsConversionProcessUIHidden = false;
            StateHasChanged();
        });
    }
    private async Task BindBookTextDataToNewBookRequest()
    {
        _newBookRequest.TextData = new MemoryStream(_bookTextData);
    }
    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/progressHub"), options =>
            {
                options.SkipNegotiation = true;
                options.Transports = HttpTransportType.WebSockets;
            })
            .Build();

        _hubConnection.On<int>("UploadProgressChanged", async p =>
        {
            await InvokeAsync(() =>
            {
                _uploadProgressBarValue = $"{p}%";
                StateHasChanged();
            });
        });

        _hubConnection.On<int>("ConvertProgressChanged", async p =>
        {
            await InvokeAsync(() =>
            {
                _convertProgressBarValue = $"{p}%";
                StateHasChanged();
            });
        });

        await _hubConnection.StartAsync();
    }

}